//custom variables
$primary: #EE5ABD;

//imports for merging or whatever
@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";
//separator because tidy

$custom-theme-colors: (
    "altblack": #1b1b1b
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

//import bootstrab
@import '../node_modules/bootstrap/scss/bootstrap';