//custom variables
$primary: #EE5ABD;
$secondary: #B72D6F;

//imports for merging or whatever
@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";
//separator because tidy

$custom-theme-colors: (
    "altblack": #1b1b1b
);

$custom-position-variable: (
    "n5px": -50px,
    "60px": 60px,
    "28px": 28px,
    "20px": 20px
);


$theme-colors: map-merge($custom-theme-colors, $theme-colors);
$position-values: map-merge($custom-position-variable, $position-values);

//import bootstrab
@import '../node_modules/bootstrap/scss/bootstrap';