.lalezar-regular {
  font-family: "Lalezar", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav-item:hover{
  background-color: rgb(190, 190, 190);
}

.hero_banner img{
  position:fixed;
  left: 0;
  top: 0;
  width: 1900px;
  height: auto;
  z-index: -100;
}

.a_bullets{
  height: 45px;
  width: 193px;
  border:#EE5ABD solid;
  border-radius: 25px;
  color: #EE5ABD;
  font-size: 32px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.a_bullets p {
  width: 193px;
  text-align: center;
}

.logo {
  width: 100px;
}
.logo-icon img{
  position:relative;
  top: 10px;
  left: 438px;
  height: 79px;
  width: 79px;
  z-index: 100;
}

.logo-background {
  transform: skewX(-12deg);
  position: relative;
  top: -79px;
  left: 420px;
  width:113px;
  height:130px; 
  background-color: #EE5ABD;
  z-index: 1;
}
/* main content starts */
main{
  height: auto;
  background-color: black;
}

.meet_the_team{
  border-top: grey solid 1px;;
  width: 1236px;
  height: 600px;
  margin: auto;
  margin-top: 40px;
}

.header{
  font-size: 64px;
  padding: 30px;
  text-align: center;
}

.memberships{
  height: 704.35px;
  background: linear-gradient(to right,#800020,#B72D6F,#EE5ABD);
}

.backdrop{
  height: 326.3px;
  width: 289px;
  background-color: #B72D6F;
  transform: skewX(12deg);
}
.zone_switch{
  width:565px;
  height: 62.86px;
  text-align: center;
  background-color: black;
  border-radius: 55px;
}

.choices{
  font-size: 40px;
}

.choices:hover{
  cursor: pointer;
}

.zone_container{
  transform: skewX(-12deg);
  top: -350px;
  left: 60px;
  position: relative;
  width: 271px;
  height: 318.9px;
  border: solid 20px #800020;
  background: black;
  text-align: center;
  font-size: large;
}

.zone_content{
  transform: skewX(12deg);
  font-size: 40px;
}

.zone_button{
  transform: skewX(12deg);
  background-color: #EB329F;
  font-size: 32px;
  width: 160px;
  height: 54px;
  margin: auto;
  padding-top: 5px;
  border-radius: 50px;;
}

.zone_button:hover{
  cursor: pointer;
  background-color: #B72D6F;
}

.perks_container{
  width: 100%;

}

.perks_content{
  margin: auto;
  width: 271px;
  height: 470px;
}

.perks_backdrop{
  position:relative;
  top: 50px;
  transform: skew(2deg);
  rotate: -30deg;
  background-color: #B72D6F;
  height: 180px;
  width: 180px;
}

.perk_container{
  position:relative;
  top: -180px;
  left: 50px; 
  background-color: #800020;
  width: 234px;
  height: 220px;
}

.perk_desc{
  position: relative;
  top: -100px;
  text-align: center;
  
}

.perk_desc h1{
  font-size: 48px;
}

.perk_container img{
  width: 240px;
  height: 180px; 
  align-items: center;
}

.about{
  width: 941px;
  margin: auto;
  text-align: center;
}


.swiper {
  width: 1100px;   
  height: 480px;  
  margin: 40px auto 60px auto; 
}

.swiper-slide {
  width: 700px !important;
  height: 480px;
  background: #000;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img,
.swiper-slide video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  pointer-events: none;
  user-select: none;
}

#carouselExampleIndicators .carousel-item img {
  width: 100%;
  height: 480px;
  object-fit: contain;
  border-radius: 12px;
}

#carouselExampleIndicators .carousel-item video {
  width: 100%;
  height: 480px;    
  object-fit: contain;
  border-radius: 12px;
}

.carousel-wrapper {
  max-width: 1200px; 
  margin: 2.5rem auto; 
  padding: 0 12px;
}

.hero-spacer { margin-top: 70px; }

.carousel-caption small { font-size: 0.9rem; }


.about h1{
  font-size: 60px;
}

.about p {
  font-size: 30px;
}

.landing_form input{
  height: 54px;
  width: 440px;
  border: none;
  margin-top: 15px;
  padding-right: 12px;
  border-radius: 15px;
  font-size: 32px;
}
.form_image img{
  height:556px;
  width: 754px;
  border-radius: 20px;
}

footer{
  height: 620px;
  width: 1920px;
  background-color: #616161;
  color: white;
}


.contacts {
  font-size: 32px;
  /* margin: auto; */
  margin-right: 20%;
  width: 900px;
}


.contacts_content {
  height: 290px;
  width: 336px; 
}

.footer_logo {
  margin-left: 50px;
  flex-direction: row;
  font-size: 96px;
  color: white;
}

.subscribe_header{
  font-size: 64px;
  padding-top: 10px
}

.footer_logo img{
  height: 119px;
  width: auto;
}

.icons_holder{
  margin-left: 25px;
}

.fa-facebook{
  color: #F28CCE;
}
.sub_button{
  height: 98px;
  width: 602px;
  background: #E798CB;
  color:white;
  font-size: 32px;
}
.sub_button:hover{
  background: #DB67B2;
}
footer input[type=email]{
  width: 602px;
  height: 60px;
}
.bottom{
  margin-top: 50px;
  height: 40px;
}
