@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

/* #carouselExampleIndicators .carousel-item video {
  width: 100%;
  height: 480px; /* max height, adjust px size depending on img. LOWER IF NEED TO BE WIDER 
  object-fit: cover;
  /* border-radius: 12px; round corners 
}

.carousel-wrapper {
  max-width: 1200px; 
  margin: 2.5rem auto; 
  padding: 0 12px;
}
.hero-spacer { margin-top: 70px; }

.carousel-caption small { font-size: 0.9rem; } */
