

body{
  background-image: linear-gradient(to right, #800020, #B72D6F, #EE5ABD);
}

.form_container{
  position: relative;
  width: 970px;
  height: auto;
  border-radius: 25px;
  background-color: black;
  margin:auto;
  margin-top: 5%;
  padding: 50px;
  margin-bottom: 10px;
  z-index: 10;
}

.form_container input[type=text]{
    outline: none;
    height: 59px;
    width: 407px;
    font-size: 30px;
    border-radius: 15px;
    padding-top: 12px;
    padding-left: 14px;
}

.form_container input[type=password]{
    outline: none;
    height: 59px;
    width: 830px;
    font-size: 30px;
    border-radius: 15px;
    padding-top: 12px;
    padding-left: 14px;
}

.form_container input[type=radio]{
    outline: none;
    height: 50px;
    width: auto;
    outline:none;
}

.form_container input[type=number]{
    outline: none;
    height: 59px;
    width: 407px;
    font-size: 30px;
    border-radius: 15px;
    padding-top: 12px;
    padding-left: 14px;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}

.account_info input[type=text]{
    height: 59px;
    width: 830px;
    font-size: 30px;
    border-radius: 15px;
    padding-top: 12px;
    padding-left: 14px;
}

.account_info input[type=number]{
    height: 59px;
    width: 830px;
    font-size: 30px;
    border-radius: 15px;
    padding-top: 12px;
    padding-left: 14px;
}

.terms_container{
    width: 70%;
}

.terms_container a{
    color: #EE5ABD;
    text-decoration: none;
}

.terms{
    text-align: justify;
}

.consent{
    padding-top: 24px;  
    text-align: justify;
    border-top: white solid 1px;
}

.submit{
    border: none;
    border-radius: 15px;
    background-color: #EE5ABD;
    height: 59px;
    width: 830px;
}

.submit:hover{
    background-color: #B72D6F;
}