.navbar{
  height: 40px;
}

body{
  background-image: linear-gradient(to right, #800020, #B72D6F, #EE5ABD);
}

.form_container{
  width: 970px;
  height: auto;
  border-radius: 25px;
  background-color: black;
  margin:auto;
  margin-top: 10%;
  padding: 50px;
}

.form_container input[type=text]{
    height: 59px;
    width: 407px;
    font-size: 30px;
    border-radius: 15px;
    padding-top: 12px;
    padding-left: 14px;
}

.form_container input[type=password]{
    height: 59px;
    width: 830px;
    font-size: 30px;
    border-radius: 15px;
    padding-top: 12px;
    padding-left: 14px;
}

.form_container input[type=radio]{
    height: 50px;
    width: auto;
}

.form_container input[type=number]{
    height: 59px;
    width: 407px;
    font-size: 30px;
    border-radius: 15px;
    padding-top: 12px;
    padding-left: 14px;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}

.account_info input[type=text]{
    height: 59px;
    width: 830px;
    font-size: 30px;
    border-radius: 15px;
    padding-top: 12px;
    padding-left: 14px;
}

.account_info input[type=number]{
    height: 59px;
    width: 830px;
    font-size: 30px;
    border-radius: 15px;
    padding-top: 12px;
    padding-left: 14px;
}

.terms_container{
    width: 70%;
}

.terms_container a{
    color: #EE5ABD;
    text-decoration: none;
}