.lalezar-regular {
  font-family: "Lalezar", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
/* navbar items */
.nav-item{
  color:black;
  height: 50px;
}

.navbar{
  font-size: 24;
}

.nav-item:hover{
  background-color: rgb(190, 190, 190);
  cursor: pointer;
}

.hero_banner img{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

/* nav items */


/* header icon */
/* header icon */
