.lalezar-regular {
  font-family: "Lalezar", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
/* navbar items */
.nav-item{
  color:black;
  height: 50px;
}

.navbar{
  font-size: 24;
}

.nav-item:hover{
  background-color: rgb(190, 190, 190);
  cursor: pointer;
}

.hero_banner{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

/* nav items */


/* header icon */
.logobackground{
  transform: skew(-12deg);
}
.logobackground img{
  transform: skew(12deg);
}
/* header icon */

/* section tab */

.section-tab{
  height: 88px;
  width: 351px;
  transform-origin: bottom left;
  transform: skew(-30deg, 0deg);
}

.section-tab p{
  transform: skew(30deg);
}

.tab-background{
  height: 60px;
  width: 311px;
  transform-origin: bottom left;
  transform: skew(-50deg, 0deg);
}

/* section tab */
