
.contianer{
  display:flex;
  height: 500px;
  overflow-x:hidden;
}
.membership{
  width:100%;
  height: 500px;
  border: solid black 2px;
}
.services{
  width:100%;
  height: 500px;
  border: solid black 2px;  
}

.container_2{
  height: 100%;
}