.lalezar-regular {
  font-family: "Lalezar", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav-item:hover{
  background-color: rgb(190, 190, 190);
}

.hero_banner img{
  position:fixed;
  left: 0;
  top: 0;
  width: 1900px;
  height: auto;
  z-index: -100;
}

.a_zone{
  height: 45px;
  width: 193px;
  border:#EE5ABD solid;
  border-radius: 25px;
  color: #EE5ABD;
  font-size: 32px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.a_zone span {
  padding-left: 20%;
}

.logo {
  width: 100px;
}
.logo-icon img{
  position:relative;
  top: 10px;
  left: 438px;
  height: 79px;
  width: 79px;
  z-index: 100;
}

.logo-background {
  transform: skewX(-12deg);
  position: relative;
  top: -79px;
  left: 420px;
  width:113px;
  height:130px; 
  background-color: #EE5ABD;
  z-index: 1;
}
/* main content starts */
main{
  height: auto;
  background-color: black;
}

.meet_the_team{
  border-top: grey solid 1px;;
  width: 1236px;
  height: 600px;
  margin: auto;
  margin-top: 40px;
}

.team_header{
  font-size: 64px;
  text-align: center;
}

/* main contents end */

footer{
  height: 620px;
  width: 1900px;
  background-color: #616161;
  color: white;
}


.contacts {
  font-size: 32px;
  /* margin: auto; */
  margin-right: 20%;
  width: 900px;
}


.contacts_content {
  height: 290px;
  width: 336px; 
}

.footer_logo {
  margin-left: 50px;
  flex-direction: row;
  font-size: 96px;
  color: white;
}

.subscribe_header{
  font-size: 64px;
  padding-top: 10px
}

.footer_logo img{
  height: 119px;
  width: auto;
}

.icons_holder{
  margin-left: 25px;
}
.sub_button{
  height: 98px;
  width: 602px;
  background: #E798CB;
  color:white;
  font-size: 32px;
}
.sub_button:hover{
  background: #DB67B2;
}
input[type=email]{
  width: 602px;
  height: 60px;
}
.bottom{
  margin-top: 50px;
  height: 40px;
}
