.lalezar-regular {
  font-family: "Lalezar", sans-serif;
  font-weight: 400;
  font-style: normal;
}
* {
  overflow-x: hidden;
}

.nav-item:hover{
  background-color: rgb(190, 190, 190);
}
.hero_banner img{
  position:fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: -100;
}

.logo-icon{
  top: 80px;
}

.a_zone{
  height: 45px;
  width: 193px;
  border:#EE5ABD solid;
  border-radius: 25px;
  color: #EE5ABD;
  font-size: 32px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.a_zone span {
  padding-left: 20%;
}

.logo-icon img{
  position:relative;
  top: 10px;
  left: 21%;
  height: 79px;
  width: 79px;
  z-index: 100;
}

.logo-icon .logo-background {
  transform: skewX(-12deg);
  position: relative;
  top: -79px;
  left: 20%;
  width:113px;
  height:130px; 
  background-color: #EE5ABD;
  z-index: 1;
}


main{
  height: auto;
  background-color: black;
}


footer{
  /* position: fixed;
  bottom: 0; */
  height: 665px;
  width: 100%;
  background-color: #616161;
  color: white;
  flex-direction: row;
}

.something ul{
  list-style-type: none;
  flex-direction: row;
}

.contacts {
  font-size: 32px;
  margin: auto;
}


.contacts_content {
  height: 290px;
  width: 336px; 
}

.footer_logo {
  flex-direction: row;
  font-size: 96px;
  color: white;
}

.footer_logo img{
  height: 119px;
  width: auto;
}

